@inherits UmbracoViewPage<CarouselViewModel>
@using Datagraf.Web.Models.ComponentModels

@{
    Html.RequiresCss("~/Content/components/owl-carousel2/dist/assets/owl.carousel.css", 1, 2, new { @defer = string.Empty })
            .RequiresCss("~/Content/components/owl-carousel2/dist/assets/owl.theme.default.css")
            .RequiresJs("~/Content/components/owl-carousel2/dist/owl.carousel.js", 1, 2, new { @defer = string.Empty })
            .RequiresJs("~/scripts/app/carousel.jquery.js", 1, 2, new { @defer = string.Empty });

    var carousel = Model.Carousel;
}
@if (carousel.Any())
{

    <div class="owl-carousel"
         data-options='{
        "items": 1,
         "nav": true,
         "navText": ["", ""],
         "autoplay": true,
         "autoplayHoverPause": true,
         "navContainer": ".item",
         "autoHeight": true }'>
        @foreach (var slide in carousel)
        {
            @renderSlide(slide)
        }
    </div>
}
@helper renderSlide(IPublishedContent slide)
{
var image = slide
    .GetPropertyValue("image", Enumerable.Empty<IPublishedContent>())
    .FirstOrDefault();

if (image != null)
{
        <div class="owl-carousel__item">
            @Html.Partial(
           "Components/_Media",
           new MediaViewModel
           {
               Image = image,
               GridSize = Model.GridSize,
               ImageHeight = Model.ImageHeight,
               ImageHeightMobile = Model.ImageHeightMobile,
               GridTotalPadding = Model.GridTotalPadding

           })
            @if (slide.HasValue("text"))
            {
                <div class="owl-carousel__caption">
                    <span>@(slide.GetPropertyValue<string>("text"))</span>
                </div>
            }
        </div>
}
}
