@inherits UmbracoViewPage<IPublishedContent>
@using Datagraf.Web.Models.ComponentModels

@if (Model.HasValue("description"))
{
    <div class="easter-egg">
        <div class="easter-egg__text">
            @Html.Raw(Umbraco.ReplaceLineBreaksForHtml(Model.GetPropertyValue<string>("description")))
        </div>
        <svg width="100%" height="100%" viewBox="0 0 22 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
        <rect id="Moodbord" x="-489" y="-1396" width="1200" height="2706" style="fill:none;" />
        <path d="M11.202,24.469l0,0.003c-2.805,-0.679 -5.276,-2.494 -7.077,-4.667c-1.949,-2.356 -3.125,-5.424 -3.125,-8.841c0,-2.792 1.106,-5.284 2.895,-7.075c1.789,-1.793 4.26,-2.889 6.989,-2.889c2.729,0 5.258,1.125 7.105,2.935c1.847,1.806 3.011,4.299 3.011,7.031c0,2.905 -0.986,5.39 -2.718,7.122c-1.732,1.732 -4.209,2.711 -7.192,2.604c-0.063,-0.001 -0.119,-0.003 -0.17,-0.005c-0.006,-0.001 -0.012,-0.002 -0.02,-0.002c-0.137,0 -0.248,0.113 -0.248,0.252c0,0.073 0.086,0.36 0.187,0.612l0.34,0.973l0.468,1.455l-0.002,0c0.012,0.038 0.021,0.079 0.021,0.122c0,0.21 -0.168,0.381 -0.377,0.381c-0.029,0 -0.059,-0.005 -0.087,-0.011Z" style="fill:#fff;" />
        </svg>
    </div>
}

