@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<FrontPage>
@using Danva.Web.Models.ModelsBuilder
@using Danva.Web.Models.PartialModels
@using Danva.Web.Models.ComponentModels
@{
	Layout = "_Layout.cshtml";
}

<div class="front-page">
    @Html.GetGridHtml(Model.Content, "layout", "FrontPage")
</div>