@inherits UmbracoViewPage<IGenericPage>
@using AnneVibekeRejser.Web.Models.ComponentModels

@{
	Layout = "_Layout.cshtml";
    var page = Model;
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            @Html.CachedPartial(
            "Components/_Hero",
            new HeroViewModel
            {
                Image = page.HeroImage,
                GridSize = 12,
                ImageHeight = 500,
                ImageHeightMobile = 350,
                Headline = page.ImageText
            }, 3600, cacheByPage: true)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.CachedPartial(
            "Components/_Breadcrumb",
            new BreadcrumbViewModel
            {
                CurrentPage = page,
                ShowCurrentPage = true
            }, 3600, cacheByPage: true)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            @Html.CachedPartial(
            "Components/_PageHeader",
            new PageHeaderViewModel
            {
                Trompet = page.Trompet,
                Date = page.Date,
                Headline = page.Heading,
                Lead = page.Lead,
                Author = page.Author,
            }, 3600, cacheByPage: true)
        </div>
    </div>
    <aside class="row">
        <div class="col-xs-12 col-sm-8">
            @Html.GetGridHtml(page, "layout")
        </div>
        <div class="col-xs-12 col-sm-4">

        </div>
    </aside>
</div>
