@inherits UmbracoViewPage<LeBlenderModel>
@using Lecoati.LeBlender.Extension.Models
@using Datagraf.Web.Models.ComponentModels

@foreach (var item in Model.Items)
{
    @renderContent(item)
}

@helper renderContent(LeBlenderValue content)
{
    var employeePicker = content.GetValue<IEnumerable<IPublishedContent>>("employeePicker");
    var employees = employeePicker != null ? employeePicker : Enumerable.Empty<IPublishedContent>();
    var headline = content.GetValue<string>("headline");
    if (employees.Any())
    {
        <div>

            @if (!string.IsNullOrEmpty(headline))
            {
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="margin-bt30">@headline</h4>
                    </div>
                </div>
            }
            <div class="row contact-list contact-list--grid flex">
                 @foreach (var employee in employees)
                {
                     <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2 flex margin-bt20">
                        @renderContact(employee)
                     </div>
                }
            </div>
        </div>
    }
}

@helper renderContact(IPublishedContent employee)
{
    @Html.Partial(
        "Components/_ContactCard",
        new ContactCardViewModel
        {
            Image = employee.GetPropertyValue("image", Enumerable.Empty<IPublishedContent>()).FirstOrDefault(),
            TypedWidth = 250,
            ImageHeight = 250,
            Name = employee.Name,
            Title = employee.GetPropertyValue<string>("title", ""),
            WorkArea = employee.GetPropertyValue<string>("workArea", ""),
            Phone = employee.GetPropertyValue<string>("phone", ""),
            Mobile = employee.GetPropertyValue<string>("mobilePhone", ""),
            Mail = employee.GetPropertyValue<string>("mail", "")
        }
    )
}