@inherits UmbracoViewPage<LeBlenderModel>
@using Lecoati.LeBlender.Extension.Models
@using AnneVibekeRejser.Web.Models.ComponentModels

@foreach (var item in Model.Items)
{
    @renderContent(item)
}

@helper renderContent(LeBlenderValue content)
{
var position = content.GetValue("factboxPosition");
var heading = content.GetValue("heading");

     <div class="factbox factbox--position-@(position)">
        @if(!string.IsNullOrEmpty(heading))
        {
            <h5 class="factbox__heading">@Html.Raw(heading)</h5>
        }
        @if(content.HasProperty("rte"))
        {
            @Html.Raw(content.GetValue<string>("rte"))
        }
        <div class="factbox__spacer"></div>
     </div>
}