<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT employee ANY>
<!ATTLIST employee id ID #REQUIRED>
<!ELEMENT employeeFolder ANY>
<!ATTLIST employeeFolder id ID #REQUIRED>
<!ELEMENT employeeList ANY>
<!ATTLIST employeeList id ID #REQUIRED>
<!ELEMENT footer ANY>
<!ATTLIST footer id ID #REQUIRED>
<!ELEMENT carousel ANY>
<!ATTLIST carousel id ID #REQUIRED>
<!ELEMENT carouselImage ANY>
<!ATTLIST carouselImage id ID #REQUIRED>
<!ELEMENT multipleLinks ANY>
<!ATTLIST multipleLinks id ID #REQUIRED>
<!ELEMENT CompositionOpenGraph ANY>
<!ATTLIST CompositionOpenGraph id ID #REQUIRED>
<!ELEMENT compositionPageHeader ANY>
<!ATTLIST compositionPageHeader id ID #REQUIRED>
<!ELEMENT footerRichTextEditor ANY>
<!ATTLIST footerRichTextEditor id ID #REQUIRED>
<!ELEMENT sidebarRichTextEditor ANY>
<!ATTLIST sidebarRichTextEditor id ID #REQUIRED>
<!ELEMENT CompositionSeoChecker ANY>
<!ATTLIST CompositionSeoChecker id ID #REQUIRED>
<!ELEMENT sidebar ANY>
<!ATTLIST sidebar id ID #REQUIRED>
<!ELEMENT compositionSimplePageHeader ANY>
<!ATTLIST compositionSimplePageHeader id ID #REQUIRED>
<!ELEMENT defaultTag ANY>
<!ATTLIST defaultTag id ID #REQUIRED>
<!ELEMENT tagFolder ANY>
<!ATTLIST tagFolder id ID #REQUIRED>
<!ELEMENT tagList ANY>
<!ATTLIST tagList id ID #REQUIRED>
<!ELEMENT compositionUmbracoProperties ANY>
<!ATTLIST compositionUmbracoProperties id ID #REQUIRED>
<!ELEMENT frontPage ANY>
<!ATTLIST frontPage id ID #REQUIRED>
<!ELEMENT culture ANY>
<!ATTLIST culture id ID #REQUIRED>
<!ELEMENT courseList ANY>
<!ATTLIST courseList id ID #REQUIRED>
<!ELEMENT courseFolder ANY>
<!ATTLIST courseFolder id ID #REQUIRED>
<!ELEMENT coursePage ANY>
<!ATTLIST coursePage id ID #REQUIRED>
<!ELEMENT siteFolder ANY>
<!ATTLIST siteFolder id ID #REQUIRED>
<!ELEMENT gridPage ANY>
<!ATTLIST gridPage id ID #REQUIRED>
<!ELEMENT newsPage ANY>
<!ATTLIST newsPage id ID #REQUIRED>
<!ELEMENT newsList ANY>
<!ATTLIST newsList id ID #REQUIRED>
<!ELEMENT newsFolder ANY>
<!ATTLIST newsFolder id ID #REQUIRED>
<!ELEMENT landingpage ANY>
<!ATTLIST landingpage id ID #REQUIRED>
<!ELEMENT searchPage ANY>
<!ATTLIST searchPage id ID #REQUIRED>
<!ELEMENT website ANY>
<!ATTLIST website id ID #REQUIRED>
<!ELEMENT GenericPage ANY>
<!ATTLIST GenericPage id ID #REQUIRED>
]>
<root id="-1" />